<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="OnboardingEntities" connectionString="metadata=res://*/Model.OnboardingModel.csdl|res://*/Model.OnboardingModel.ssdl|res://*/Model.OnboardingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSQLDD22\INST01;initial catalog=Library;Persist Security Info=False;User ID=prjglib;Password=nightmare;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PATRONEntities" connectionString="metadata=res://*/Model.PatronModel.csdl|res://*/Model.PatronModel.ssdl|res://*/Model.PatronModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSQLDD22\INST01;initial catalog=Library;Persist Security Info=False;User ID=prjglib;Password=nightmare;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PATRONEntities" connectionString="metadata=res://*/Model.PatronModel.csdl|res://*/Model.PatronModel.ssdl|res://*/Model.PatronModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ABBASALIHR-IITS\SQL12LOCAL;initial catalog=Onboarding;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnboardingEntities" connectionString="metadata=res://*/Model.OnboardingModel.csdl|res://*/Model.OnboardingModel.ssdl|res://*/Model.OnboardingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ONBOARDING4;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecAccEntities" connectionString="metadata=res://*/Model.SecAccModel.csdl|res://*/Model.SecAccModel.ssdl|res://*/Model.SecAccModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ODS3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
